In [1]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

# Review of Python's datetime Module

Need on import it coz python auto doesn't add it to save memory

In [2]:
dt.date(2016, 4, 12)

datetime.date(2016, 4, 12)

In [3]:
someday = dt.date(2016, 4, 12)

In [4]:
someday.year

2016

In [5]:
someday.day

12

In [6]:
someday.month

4

In [7]:
dt.datetime(2010, 1, 10)

datetime.datetime(2010, 1, 10, 0, 0)

In [8]:
dt.datetime(2010, 1, 10, 8, 0)

datetime.datetime(2010, 1, 10, 8, 0)

In [9]:
dt.datetime(2010, 1, 10, 8, 13, 57)

datetime.datetime(2010, 1, 10, 8, 13, 57)

In [10]:
str(dt.datetime(2010, 1, 10, 17, 12, 44))

'2010-01-10 17:12:44'

In [11]:
sometime = (dt.datetime(2010, 1, 10, 17, 12, 44))

In [12]:
sometime.year

2010

In [13]:
sometime.month

1

In [14]:
sometime.day

10

In [15]:
sometime.minute

12

In [16]:
sometime.second

44

In [17]:
sometime.hour

17

# Pandas timestamp method

In [19]:
pd.Timestamp("2015-03-31")

Timestamp('2015-03-31 00:00:00')

In [20]:
pd.Timestamp("2015/03/31")

Timestamp('2015-03-31 00:00:00')

In [21]:
pd.Timestamp("2013, 11, 4")

Timestamp('2013-11-04 00:00:00')

In [22]:
pd.Timestamp("1/1/2015")

Timestamp('2015-01-01 00:00:00')

In [23]:
pd.Timestamp("19/12/2019")

Timestamp('2019-12-19 00:00:00')

In [24]:
pd.Timestamp("12/19/2019")

Timestamp('2019-12-19 00:00:00')

In [25]:
pd.Timestamp("4/3/2019") #4 - Month, 3 - Day

Timestamp('2019-04-03 00:00:00')

In [26]:
pd.Timestamp("2021-03-08 08:35:15")

Timestamp('2021-03-08 08:35:15')

In [29]:
pd.Timestamp("2021-03-09 6:14:29 PM")

Timestamp('2021-03-09 18:14:29')

In [30]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [31]:
pd.Timestamp(dt.datetime(2000, 2, 3, 14, 33, 44))

Timestamp('2000-02-03 14:33:44')

# The pandas datetimeindex object

In [35]:
dates = ["2016-01-02", "2018-09-03", "2019-4-7"]
dtIndex = pd.DatetimeIndex(dates)

In [36]:
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [37]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-02    100
2018-09-03    200
2019-04-07    300
dtype: int64

# The pd.to_datetime method

In [38]:
pd.to_datetime("2001-04-09")

Timestamp('2001-04-09 00:00:00')

In [39]:
pd.to_datetime(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [40]:
pd.to_datetime(dt.datetime(2015, 1, 1, 1, 1, 1))

Timestamp('2015-01-01 01:01:01')

In [41]:
pd.to_datetime(["2019-01-03", "2013/01/01", "2016", "July 4th, 1996"])

DatetimeIndex(['2019-01-03', '2013-01-01', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [42]:
pd.Series(["2019-01-03", "2013/01/01", "2016", "July 4th, 1996"])

0        2019-01-03
1        2013/01/01
2              2016
3    July 4th, 1996
dtype: object

In [43]:
times = pd.Series(["2019-01-03", "2013/01/01", "2016", "July 4th, 1996"])

In [45]:
pd.to_datetime(times)

0   2019-01-03
1   2013-01-01
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [52]:
dates = pd.Series(["July 4th 1996", "10/05/1991", "Hello", "2015-02-31"])

In [53]:
pd.to_datetime(dates)

ValueError: ('Unknown string format:', 'Hello')

In [49]:
pd.to_datetime(dates, errors = 'raise')

ValueError: ('Unknown string format:', 'Hello')

In [55]:
pd.to_datetime(dates, errors = "coerce") #converts invalid values to NaT

0   1996-07-04
1   1991-10-05
2          NaT
3          NaT
dtype: datetime64[ns]

Can convert unix time to datetime as well

# Create range of dates with pd.date_range() method

In [56]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [57]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

In [58]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [59]:
times [9]

Timestamp('2016-01-10 00:00:00', freq='D')

In [61]:
times[1]

Timestamp('2016-01-02 00:00:00', freq='D')

In [62]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "2D")

In [63]:
times

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [66]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "B") #business days, weekdays

In [67]:
times

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [70]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-15", freq = "W") #weekly - Sunday

In [71]:
times

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [72]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "W-MON")

In [73]:
times

DatetimeIndex(['2016-01-04'], dtype='datetime64[ns]', freq='W-MON')

In [76]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "H") #hours

In [77]:
times

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [78]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "6H")

In [79]:
times

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [80]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-31", freq = "M") #Month ends

In [81]:
times

DatetimeIndex(['2016-01-31'], dtype='datetime64[ns]', freq='M')

In [82]:
times = pd.date_range(start = "2016-01-01", end = "2050-01-10", freq = "A") #last day of each year

In [83]:
times

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [84]:
pd.date_range(start = "2012-09-09", periods = 10, freq = "D") #number of results we want to generate

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18'],
              dtype='datetime64[ns]', freq='D')

In [85]:
pd.date_range(start = "2012-09-09", periods = 10, freq = "B") #number of results we want to generate

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21'],
              dtype='datetime64[ns]', freq='B')

In [86]:
pd.date_range(start = "2012-09-09", periods = 10, freq = "MS") #month starting

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01'],
              dtype='datetime64[ns]', freq='MS')

In [87]:
pd.date_range(start = "2012-09-09", periods = 10, freq = "6HB") #number of results we want to generate

ValueError: Invalid frequency: 6HB

In [89]:
pd.date_range(end = "1999-12-31", periods = 20, freq = 'D') #move backwards towards start based on the period

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

# The .dt() accessor

Similar to .str accessor

In [91]:
pd.date_range(start = "2000-01-01", end="2010-12-31", freq = "24D")

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2010-05-20', '2010-06-13', '2010-07-07', '2010-07-31',
               '2010-08-24', '2010-09-17', '2010-10-11', '2010-11-04',
               '2010-11-28', '2010-12-22'],
              dtype='datetime64[ns]', length=168, freq='24D')

In [92]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end="2010-12-31", freq = "24D")

In [93]:
s = pd.Series(bunch_of_dates)
s.head(4)

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
dtype: datetime64[ns]

In [94]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

Each value of the series will be customized

In [95]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [96]:
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [97]:
s.dt.is_quarter_start

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [98]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

# Import Financial daaset with pandas_datareader library

In [2]:
from pandas_datareader import data

In [3]:
data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-01-04,31.100000,30.590000,30.620001,30.950001,38409100.0,24.226894
2010-01-05,31.100000,30.639999,30.850000,30.959999,49749600.0,24.234720
2010-01-06,31.080000,30.520000,30.879999,30.770000,58182400.0,24.085989
2010-01-07,30.700001,30.190001,30.629999,30.450001,50559700.0,23.835503
2010-01-08,30.879999,30.240000,30.280001,30.660000,51197400.0,23.999893
...,...,...,...,...,...,...
2020-07-27,203.970001,200.860001,201.470001,203.850006,30160900.0,203.850006
2020-07-28,204.699997,201.740005,203.610001,202.020004,23251400.0,202.020004
2020-07-29,204.649994,202.009995,202.500000,204.059998,19632600.0,204.059998
2020-07-30,204.460007,199.570007,201.000000,203.899994,25079600.0,203.899994
2020-07-31,205.100006,199.009995,204.399994,205.009995,51044000.0,205.009995

In [5]:
data.DataReader(name = "MGM", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")

                 High        Low   Open      Close      Volume  Adj Close
Date
2010-01-04   9.750000   9.310000   9.43   9.730000  24670100.0   9.197938
2010-01-05  10.590000   9.800000   9.82  10.500000  49268000.0   9.925833
2010-01-06  10.450000  10.140000  10.44  10.140000  21539900.0   9.585518
2010-01-07  10.810000   9.980000  10.01  10.800000  30219400.0  10.209429
2010-01-08  10.870000  10.450000  10.70  10.600000  17728500.0  10.020366
...               ...        ...    ...        ...         ...        ...
2020-07-27  15.770000  14.650000  15.76  14.960000  24905900.0  14.960000
2020-07-28  15.820000  14.760000  14.80  15.410000  21069100.0  15.410000
2020-07-29  16.260000  15.570000  15.65  16.250000  21980500.0  16.250000
2020-07-30  16.700001  16.040001  16.18  16.639999  26814500.0  16.639999
2020-07-31  16.490000  15.580000  15.99  16.090000  31854500.0  16.090000

[2663 rows x 6 columns]

In [6]:
mgm = data.DataReader(name = "MGM", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
mgm.head(4)

             High    Low   Open  Close      Volume  Adj Close
Date
2010-01-04   9.75   9.31   9.43   9.73  24670100.0   9.197938
2010-01-05  10.59   9.80   9.82  10.50  49268000.0   9.925833
2010-01-06  10.45  10.14  10.44  10.14  21539900.0   9.585518
2010-01-07  10.81   9.98  10.01  10.80  30219400.0  10.209429

In [8]:
mgm.values

array([[9.75000000e+00, 9.31000042e+00, 9.43000031e+00, 9.72999954e+00,
        2.46701000e+07, 9.19793797e+00],
       [1.05900002e+01, 9.80000019e+00, 9.81999969e+00, 1.05000000e+01,
        4.92680000e+07, 9.92583275e+00],
       [1.04499998e+01, 1.01400003e+01, 1.04399996e+01, 1.01400003e+01,
        2.15399000e+07, 9.58551788e+00],
       ...,
       [1.62600002e+01, 1.55699997e+01, 1.56499996e+01, 1.62500000e+01,
        2.19805000e+07, 1.62500000e+01],
       [1.67000008e+01, 1.60400009e+01, 1.61800003e+01, 1.66399994e+01,
        2.68145000e+07, 1.66399994e+01],
       [1.64899998e+01, 1.55799999e+01, 1.59899998e+01, 1.60900002e+01,
        3.18545000e+07, 1.60900002e+01]])

In [9]:
mgm.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [10]:
mgm.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23',
               '2020-07-24', '2020-07-27', '2020-07-28', '2020-07-29',
               '2020-07-30', '2020-07-31'],
              dtype='datetime64[ns]', name='Date', length=2663, freq=None)

In [11]:
mgm.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23',
                '2020-07-24', '2020-07-27', '2020-07-28', '2020-07-29',
                '2020-07-30', '2020-07-31'],
               dtype='datetime64[ns]', name='Date', length=2663, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

# Selecting rows from a df with the datetimeindex

In [23]:
stocks = data.DataReader(name = "MGM", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(4)

             High    Low   Open  Close      Volume  Adj Close
Date
2010-01-04   9.75   9.31   9.43   9.73  24670100.0   9.197938
2010-01-05  10.59   9.80   9.82  10.50  49268000.0   9.925833
2010-01-06  10.45  10.14  10.44  10.14  21539900.0   9.585518
2010-01-07  10.81   9.98  10.01  10.80  30219400.0  10.209429

In [13]:
stocks.loc["2010-01-04"]

High         9.750000e+00
Low          9.310000e+00
Open         9.430000e+00
Close        9.730000e+00
Volume       2.467010e+07
Adj Close    9.197938e+00
Name: 2010-01-04 00:00:00, dtype: float64

In [14]:
stocks.loc[pd.Timestamp("2010-01-04")]

High         9.750000e+00
Low          9.310000e+00
Open         9.430000e+00
Close        9.730000e+00
Volume       2.467010e+07
Adj Close    9.197938e+00
Name: 2010-01-04 00:00:00, dtype: float64

In [15]:
stocks.iloc[0]

High         9.750000e+00
Low          9.310000e+00
Open         9.430000e+00
Close        9.730000e+00
Volume       2.467010e+07
Adj Close    9.197938e+00
Name: 2010-01-04 00:00:00, dtype: float64

In [17]:
stocks.iloc[2662]

High               16.49
Low                15.58
Open               15.99
Close              16.09
Volume       31854500.00
Adj Close          16.09
Name: 2020-07-31 00:00:00, dtype: float64

In [18]:
stocks.iloc[-1]

High               16.49
Low                15.58
Open               15.99
Close              16.09
Volume       31854500.00
Adj Close          16.09
Name: 2020-07-31 00:00:00, dtype: float64

In [26]:
stocks.loc[[pd.Timestamp("2010-02-01"), pd.Timestamp("2011-02-01")]]

             High    Low   Open  Close      Volume  Adj Close
Date
2010-02-01  11.82  11.14  11.14  11.82  30873300.0  11.173653
2011-02-01  15.26  14.95  15.05  15.09  19639800.0  14.264842

In [28]:
stocks.loc["2013-10-01":"2013-11-01"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  20.820000  20.450001  20.540001  20.740000   6501100.0  19.605881
2013-10-02  20.809999  20.510000  20.590000  20.700001   5332200.0  19.568075
2013-10-03  20.900000  20.209999  20.809999  20.580000   7717500.0  19.454632
2013-10-04  20.830000  20.559999  20.650000  20.590000   5332000.0  19.464088
2013-10-07  20.760000  20.299999  20.389999  20.379999   5298700.0  19.265568
2013-10-08  20.610001  19.580000  20.360001  19.940001  14126800.0  18.849630
2013-10-09  20.360001  19.400000  20.080000  20.030001  11756900.0  18.934710
2013-10-10  20.610001  20.209999  20.350000  20.340000   8145200.0  19.227758
2013-10-11  20.799999  20.309999  20.430000  20.459999  10386000.0  19.341194
2013-10-14  20.700001  20.250000  20.340000  20.590000   9076500.0  19.464088
2013-10-15  20.900000  20.420000  20.690001  20.559999  10488200.0  19.435728
2013-10-16  20.900000  20.600000  20.760000  20.690001   9206800.0  19.558619
2013-10-17  20.799999  20.510000  20.690001  20.780001   5647800.0  19.643698
2013-10-18  20.980000  20.600000  20.910000  20.690001  10605200.0  19.558619
2013-10-21  20.900000  20.629999  20.690001  20.770000   7928700.0  19.634245
2013-10-22  20.889999  20.240000  20.760000  20.570000   9893900.0  19.445181
2013-10-23  20.500000  20.049999  20.480000  20.059999   7053600.0  18.963066
2013-10-24  20.719999  20.139999  20.170000  20.639999   8131900.0  19.511351
2013-10-25  20.719999  20.160000  20.700001  20.309999   9061100.0  19.199396
2013-10-28  20.350000  19.750000  20.350000  19.950001  10051800.0  18.859083
2013-10-29  20.240000  19.740000  19.990000  20.219999   6861100.0  19.114317
2013-10-30  20.600000  20.000000  20.389999  20.290001  11382300.0  19.180490
2013-10-31  19.799999  18.559999  19.490000  19.040001  32907800.0  17.998848
2013-11-01  19.500000  18.959999  19.090000  19.299999  13830600.0  18.244627

In [29]:
stocks.truncate(before = "2013-10-01", after = "2013-10-07") #similar to slicing with before and after

                 High        Low       Open      Close     Volume  Adj Close
Date
2013-10-01  20.820000  20.450001  20.540001  20.740000  6501100.0  19.605881
2013-10-02  20.809999  20.510000  20.590000  20.700001  5332200.0  19.568075
2013-10-03  20.900000  20.209999  20.809999  20.580000  7717500.0  19.454632
2013-10-04  20.830000  20.559999  20.650000  20.590000  5332000.0  19.464088
2013-10-07  20.760000  20.299999  20.389999  20.379999  5298700.0  19.265568

In [30]:
stocks.iloc[1000:1007] #end is exclusive

                 High        Low       Open      Close     Volume  Adj Close
Date
2013-12-23  22.950001  22.750000  22.920000  22.870001  6849400.0  21.619411
2013-12-24  23.240000  22.709999  22.730000  23.080000  4453200.0  21.817928
2013-12-26  23.500000  23.090000  23.100000  23.240000  5950300.0  21.969181
2013-12-27  23.250000  23.010000  23.219999  23.150000  3449300.0  21.884098
2013-12-30  23.500000  23.160000  23.180000  23.379999  4937500.0  22.101524
2013-12-31  23.650000  23.330000  23.400000  23.520000  5222500.0  22.233868
2014-01-02  23.940001  23.320000  23.540001  23.719999  8408700.0  22.422930

In [31]:
pd.date_range(start = "1991-04-12", end = "2020-12-31", freq = pd.DateOffset(years = 1)) # will get april 12 using dateoffset

DatetimeIndex(['1991-04-12', '1992-04-12', '1993-04-12', '1994-04-12',
               '1995-04-12', '1996-04-12', '1997-04-12', '1998-04-12',
               '1999-04-12', '2000-04-12', '2001-04-12', '2002-04-12',
               '2003-04-12', '2004-04-12', '2005-04-12', '2006-04-12',
               '2007-04-12', '2008-04-12', '2009-04-12', '2010-04-12',
               '2011-04-12', '2012-04-12', '2013-04-12', '2014-04-12',
               '2015-04-12', '2016-04-12', '2017-04-12', '2018-04-12',
               '2019-04-12', '2020-04-12'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [32]:
birthdays = pd.date_range(start = "1991-04-12", end = "2020-12-31", freq = pd.DateOffset(years = 1)) # will get april 12 using dateoffset

In [33]:
stocks.index.isin(birthdays)

array([False, False, False, ..., False, False, False])

In [37]:
mask = stocks.index.isin(birthdays)
stocks[mask]

                 High        Low       Open  Close      Volume  Adj Close
Date
2010-04-12  15.540000  14.700000  14.800000  15.04  41662000.0  14.217575
2011-04-12  12.690000  12.410000  12.600000  12.61  16870500.0  11.920454
2012-04-12  14.110000  13.590000  13.610000  13.86  12690500.0  13.102100
2013-04-12  13.050000  12.700000  12.780000  13.04   5516400.0  12.326939
2016-04-12  22.750000  22.010000  22.070000  22.65   6212500.0  21.411440
2017-04-12  27.840000  27.490000  27.690001  27.57   3059500.0  26.174257
2018-04-12  35.669998  33.650002  33.810001  34.93  16895200.0  33.608543
2019-04-12  27.600000  26.990000  27.250000  27.35   5230400.0  26.779419

# Timestamp objects attributes and methods

In [38]:
stocks

                 High        Low   Open      Close      Volume  Adj Close
Date
2010-01-04   9.750000   9.310000   9.43   9.730000  24670100.0   9.197938
2010-01-05  10.590000   9.800000   9.82  10.500000  49268000.0   9.925833
2010-01-06  10.450000  10.140000  10.44  10.140000  21539900.0   9.585518
2010-01-07  10.810000   9.980000  10.01  10.800000  30219400.0  10.209429
2010-01-08  10.870000  10.450000  10.70  10.600000  17728500.0  10.020366
...               ...        ...    ...        ...         ...        ...
2020-07-27  15.770000  14.650000  15.76  14.960000  24905900.0  14.960000
2020-07-28  15.820000  14.760000  14.80  15.410000  21069100.0  15.410000
2020-07-29  16.260000  15.570000  15.65  16.250000  21980500.0  16.250000
2020-07-30  16.700001  16.040001  16.18  16.639999  26814500.0  16.639999
2020-07-31  16.490000  15.580000  15.99  16.090000  31854500.0  16.090000

[2663 rows x 6 columns]

In [39]:
stocks.index[500]

Timestamp('2011-12-27 00:00:00')

In [40]:
someday = stocks.index[500]

In [43]:
someday.month

12

In [44]:
someday.is_month_start

False

In [45]:
someday.is_month_end

False

In [46]:
someday.is_quarter_start

False

In [47]:
someday.is_quarter_end

False

In [48]:
someday.day

27

In [49]:
someday.month_name()

'December'

In [50]:
someday.day_name()

'Tuesday'

In [51]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      dtype='object', name='Date', length=2663)

In [52]:
stocks.insert(0, "Day of Week", stocks.index.day_name())

In [53]:
stocks

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,9.750000,9.310000,9.43,9.730000,24670100.0,9.197938
2010-01-05,Tuesday,10.590000,9.800000,9.82,10.500000,49268000.0,9.925833
2010-01-06,Wednesday,10.450000,10.140000,10.44,10.140000,21539900.0,9.585518
2010-01-07,Thursday,10.810000,9.980000,10.01,10.800000,30219400.0,10.209429
2010-01-08,Friday,10.870000,10.450000,10.70,10.600000,17728500.0,10.020366
...,...,...,...,...,...,...,...
2020-07-27,Monday,15.770000,14.650000,15.76,14.960000,24905900.0,14.960000
2020-07-28,Tuesday,15.820000,14.760000,14.80,15.410000,21069100.0,15.410000
2020-07-29,Wednesday,16.260000,15.570000,15.65,16.250000,21980500.0,16.250000
2020-07-30,Thursday,16.700001,16.040001,16.18,16.639999,26814500.0,16.639999
2020-07-31,Friday,16.490000,15.580000,15.99,16.090000,31854500.0,16.090000

In [54]:
stocks.index.is_month_start

array([False, False, False, ..., False, False, False])

In [56]:
stocks.insert(1, "IS Start of Month", stocks.index.is_month_start)

In [57]:
stocks

,Day of Week,IS Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,9.750000,9.310000,9.43,9.730000,24670100.0,9.197938
2010-01-05,Tuesday,False,10.590000,9.800000,9.82,10.500000,49268000.0,9.925833
2010-01-06,Wednesday,False,10.450000,10.140000,10.44,10.140000,21539900.0,9.585518
2010-01-07,Thursday,False,10.810000,9.980000,10.01,10.800000,30219400.0,10.209429
2010-01-08,Friday,False,10.870000,10.450000,10.70,10.600000,17728500.0,10.020366
...,...,...,...,...,...,...,...,...
2020-07-27,Monday,False,15.770000,14.650000,15.76,14.960000,24905900.0,14.960000
2020-07-28,Tuesday,False,15.820000,14.760000,14.80,15.410000,21069100.0,15.410000
2020-07-29,Wednesday,False,16.260000,15.570000,15.65,16.250000,21980500.0,16.250000
2020-07-30,Thursday,False,16.700001,16.040001,16.18,16.639999,26814500.0,16.639999
2020-07-31,Friday,False,16.490000,15.580000,15.99,16.090000,31854500.0,16.090000

In [58]:
stocks["IS Start of Month"]

Date
2010-01-04    False
2010-01-05    False
2010-01-06    False
2010-01-07    False
2010-01-08    False
              ...
2020-07-27    False
2020-07-28    False
2020-07-29    False
2020-07-30    False
2020-07-31    False
Name: IS Start of Month, Length: 2663, dtype: bool

In [59]:
stocks[stocks["IS Start of Month"]]

,Day of Week,IS Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,11.820000,11.140000,11.140000,11.820000,30873300.0,11.173653
2010-03-01,Monday,True,10.770000,10.570000,10.690000,10.660000,16189600.0,10.077084
2010-04-01,Thursday,True,12.320000,11.820000,12.150000,12.040000,19151900.0,11.381623
2010-06-01,Tuesday,True,12.720000,12.100000,12.180000,12.170000,28513800.0,11.504515
2010-07-01,Thursday,True,9.870000,9.090000,9.640000,9.700000,40881100.0,9.169580
...,...,...,...,...,...,...,...,...
2019-11-01,Friday,True,28.850000,28.350000,28.690001,28.830000,4367700.0,28.498667
2020-04-01,Wednesday,True,12.220000,10.600000,11.010000,11.770000,30333300.0,11.768515
2020-05-01,Friday,True,15.990000,14.910000,15.560000,15.010000,27992600.0,15.008105
2020-06-01,Monday,True,18.040001,17.120001,17.309999,17.799999,21636600.0,17.797752
2020-07-01,Wednesday,True,17.680000,16.629999,16.950001,16.770000,31420800.0,16.770000

# The pd.DateOffset Object

In [60]:
stocks

,Day of Week,IS Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,9.750000,9.310000,9.43,9.730000,24670100.0,9.197938
2010-01-05,Tuesday,False,10.590000,9.800000,9.82,10.500000,49268000.0,9.925833
2010-01-06,Wednesday,False,10.450000,10.140000,10.44,10.140000,21539900.0,9.585518
2010-01-07,Thursday,False,10.810000,9.980000,10.01,10.800000,30219400.0,10.209429
2010-01-08,Friday,False,10.870000,10.450000,10.70,10.600000,17728500.0,10.020366
...,...,...,...,...,...,...,...,...
2020-07-27,Monday,False,15.770000,14.650000,15.76,14.960000,24905900.0,14.960000
2020-07-28,Tuesday,False,15.820000,14.760000,14.80,15.410000,21069100.0,15.410000
2020-07-29,Wednesday,False,16.260000,15.570000,15.65,16.250000,21980500.0,16.250000
2020-07-30,Thursday,False,16.700001,16.040001,16.18,16.639999,26814500.0,16.639999
2020-07-31,Friday,False,16.490000,15.580000,15.99,16.090000,31854500.0,16.090000

In [62]:
stocks.index + 5 #pandas doesnt know the frequence e.g hour, day, year etc.

NullFrequencyError: Cannot shift with no freq

In [64]:
stocks.index + pd.DateOffset(days = 5)

DatetimeIndex(['2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-16', '2010-01-17', '2010-01-18',
               '2010-01-19', '2010-01-20',
               ...
               '2020-07-25', '2020-07-26', '2020-07-27', '2020-07-28',
               '2020-07-29', '2020-08-01', '2020-08-02', '2020-08-03',
               '2020-08-04', '2020-08-05'],
              dtype='datetime64[ns]', name='Date', length=2663, freq=None)

In [65]:
stocks.index = stocks.index - pd.DateOffset(days = 5)

In [66]:
stocks

,Day of Week,IS Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2009-12-30,Monday,False,9.750000,9.310000,9.43,9.730000,24670100.0,9.197938
2009-12-31,Tuesday,False,10.590000,9.800000,9.82,10.500000,49268000.0,9.925833
2010-01-01,Wednesday,False,10.450000,10.140000,10.44,10.140000,21539900.0,9.585518
2010-01-02,Thursday,False,10.810000,9.980000,10.01,10.800000,30219400.0,10.209429
2010-01-03,Friday,False,10.870000,10.450000,10.70,10.600000,17728500.0,10.020366
...,...,...,...,...,...,...,...,...
2020-07-22,Monday,False,15.770000,14.650000,15.76,14.960000,24905900.0,14.960000
2020-07-23,Tuesday,False,15.820000,14.760000,14.80,15.410000,21069100.0,15.410000
2020-07-24,Wednesday,False,16.260000,15.570000,15.65,16.250000,21980500.0,16.250000
2020-07-25,Thursday,False,16.700001,16.040001,16.18,16.639999,26814500.0,16.639999
2020-07-26,Friday,False,16.490000,15.580000,15.99,16.090000,31854500.0,16.090000

In [67]:
stocks.index + pd.DateOffset(weeks = 2)

DatetimeIndex(['2010-01-13', '2010-01-14', '2010-01-15', '2010-01-16',
               '2010-01-17', '2010-01-20', '2010-01-21', '2010-01-22',
               '2010-01-23', '2010-01-24',
               ...
               '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-01',
               '2020-08-02', '2020-08-05', '2020-08-06', '2020-08-07',
               '2020-08-08', '2020-08-09'],
              dtype='datetime64[ns]', name='Date', length=2663, freq=None)

In [68]:
stocks.index + pd.DateOffset(weeks = 3)

DatetimeIndex(['2010-01-20', '2010-01-21', '2010-01-22', '2010-01-23',
               '2010-01-24', '2010-01-27', '2010-01-28', '2010-01-29',
               '2010-01-30', '2010-01-31',
               ...
               '2020-08-05', '2020-08-06', '2020-08-07', '2020-08-08',
               '2020-08-09', '2020-08-12', '2020-08-13', '2020-08-14',
               '2020-08-15', '2020-08-16'],
              dtype='datetime64[ns]', name='Date', length=2663, freq=None)

In [69]:
stocks.index + pd.DateOffset(months = -5)

DatetimeIndex(['2009-07-30', '2009-07-31', '2009-08-01', '2009-08-02',
               '2009-08-03', '2009-08-06', '2009-08-07', '2009-08-08',
               '2009-08-09', '2009-08-10',
               ...
               '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18',
               '2020-02-19', '2020-02-22', '2020-02-23', '2020-02-24',
               '2020-02-25', '2020-02-26'],
              dtype='datetime64[ns]', name='Date', length=2663, freq=None)

In [70]:
stocks.index + pd.DateOffset(years = -5)

DatetimeIndex(['2004-12-30', '2004-12-31', '2005-01-01', '2005-01-02',
               '2005-01-03', '2005-01-06', '2005-01-07', '2005-01-08',
               '2005-01-09', '2005-01-10',
               ...
               '2015-07-15', '2015-07-16', '2015-07-17', '2015-07-18',
               '2015-07-19', '2015-07-22', '2015-07-23', '2015-07-24',
               '2015-07-25', '2015-07-26'],
              dtype='datetime64[ns]', name='Date', length=2663, freq=None)

# Timeseries offset

In [71]:
stocks

,Day of Week,IS Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2009-12-30,Monday,False,9.750000,9.310000,9.43,9.730000,24670100.0,9.197938
2009-12-31,Tuesday,False,10.590000,9.800000,9.82,10.500000,49268000.0,9.925833
2010-01-01,Wednesday,False,10.450000,10.140000,10.44,10.140000,21539900.0,9.585518
2010-01-02,Thursday,False,10.810000,9.980000,10.01,10.800000,30219400.0,10.209429
2010-01-03,Friday,False,10.870000,10.450000,10.70,10.600000,17728500.0,10.020366
...,...,...,...,...,...,...,...,...
2020-07-22,Monday,False,15.770000,14.650000,15.76,14.960000,24905900.0,14.960000
2020-07-23,Tuesday,False,15.820000,14.760000,14.80,15.410000,21069100.0,15.410000
2020-07-24,Wednesday,False,16.260000,15.570000,15.65,16.250000,21980500.0,16.250000
2020-07-25,Thursday,False,16.700001,16.040001,16.18,16.639999,26814500.0,16.639999
2020-07-26,Friday,False,16.490000,15.580000,15.99,16.090000,31854500.0,16.090000

In [72]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-07-31', '2020-07-31', '2020-07-31', '2020-07-31',
               '2020-07-31', '2020-07-31', '2020-07-31', '2020-07-31',
               '2020-07-31', '2020-07-31'],
              dtype='datetime64[ns]', name='Date', length=2663, freq=None)

In [73]:
stocks.index + pd.tseries.offsets.QuarterEnd()

DatetimeIndex(['2009-12-31', '2010-03-31', '2010-03-31', '2010-03-31',
               '2010-03-31', '2010-03-31', '2010-03-31', '2010-03-31',
               '2010-03-31', '2010-03-31',
               ...
               '2020-09-30', '2020-09-30', '2020-09-30', '2020-09-30',
               '2020-09-30', '2020-09-30', '2020-09-30', '2020-09-30',
               '2020-09-30', '2020-09-30'],
              dtype='datetime64[ns]', name='Date', length=2663, freq=None)

In [74]:
stocks.tail(3)

,Day of Week,IS Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2020-07-24,Wednesday,False,16.260000,15.570000,15.65,16.250000,21980500.0,16.250000
2020-07-25,Thursday,False,16.700001,16.040001,16.18,16.639999,26814500.0,16.639999
2020-07-26,Friday,False,16.490000,15.580000,15.99,16.090000,31854500.0,16.090000

In [75]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-11-30', '2009-11-30', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-06-30', '2020-06-30', '2020-06-30', '2020-06-30',
               '2020-06-30', '2020-06-30', '2020-06-30', '2020-06-30',
               '2020-06-30', '2020-06-30'],
              dtype='datetime64[ns]', name='Date', length=2663, freq=None)

In [76]:
stocks.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2009-12-01', '2009-12-01', '2009-12-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2020-07-01', '2020-07-01', '2020-07-01', '2020-07-01',
               '2020-07-01', '2020-07-01', '2020-07-01', '2020-07-01',
               '2020-07-01', '2020-07-01'],
              dtype='datetime64[ns]', name='Date', length=2663, freq=None)

In [77]:
from pandas.tseries import offsets

In [78]:
stocks.index + offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-07-31', '2020-07-31', '2020-07-31', '2020-07-31',
               '2020-07-31', '2020-07-31', '2020-07-31', '2020-07-31',
               '2020-07-31', '2020-07-31'],
              dtype='datetime64[ns]', name='Date', length=2663, freq=None)

In [79]:
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2009-12-31', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2020-07-31', '2020-07-31', '2020-07-31', '2020-07-31',
               '2020-07-31', '2020-07-31', '2020-07-31', '2020-07-31',
               '2020-07-31', '2020-07-31'],
              dtype='datetime64[ns]', name='Date', length=2663, freq=None)

In [80]:
stocks.index + offsets.YearEnd()

DatetimeIndex(['2009-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2663, freq=None)

# The timedelta object

Represent a time span, duration, measurement of time

In [81]:
time_a = pd.Timestamp("2020-03-31")
time_b = pd.Timestamp("2020-03-20")

time_a - time_b

Timedelta('11 days 00:00:00')

In [82]:
time_a = pd.Timestamp("2020-03-31 04:45:33 AM")
time_b = pd.Timestamp("2020-03-20 09:45:34 PM")

time_a - time_b

Timedelta('10 days 06:59:59')

In [83]:
time_b - time_a

Timedelta('-11 days +17:00:01')

In [84]:
pd.Timedelta(days = 3)

Timedelta('3 days 00:00:00')

In [85]:
time_a + pd.Timedelta(days = 3)

Timestamp('2020-04-03 04:45:33')

In [86]:
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45, seconds = 20)

Timedelta('59 days 12:45:20')

In [87]:
pd.Timedelta("5 minutes")

Timedelta('0 days 00:05:00')

In [88]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

In [89]:
#Time deltas in a dataset

In [90]:
pd.read_csv("ecommerce.csv")

      ID order_date delivery_date
0      1    5/24/98        2/5/99
1      2    4/22/92        3/6/98
2      4    2/10/91       8/26/92
3      5    7/21/92      11/20/97
4      7     9/2/93       6/10/98
..   ...        ...           ...
496  990    6/24/91        2/2/96
497  991     9/9/91       3/30/98
498  993   11/16/90       4/27/98
499  994     6/3/93       6/13/93
500  997     1/4/90       10/3/91

[501 rows x 3 columns]

In [91]:
pd.read_csv("ecommerce.csv", index_col = "ID")

    order_date delivery_date
ID
1      5/24/98        2/5/99
2      4/22/92        3/6/98
4      2/10/91       8/26/92
5      7/21/92      11/20/97
7       9/2/93       6/10/98
..         ...           ...
990    6/24/91        2/2/96
991     9/9/91       3/30/98
993   11/16/90       4/27/98
994     6/3/93       6/13/93
997     1/4/90       10/3/91

[501 rows x 2 columns]

In [93]:
pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])

    order_date delivery_date
ID
1   1998-05-24    1999-02-05
2   1992-04-22    1998-03-06
4   1991-02-10    1992-08-26
5   1992-07-21    1997-11-20
7   1993-09-02    1998-06-10
..         ...           ...
990 1991-06-24    1996-02-02
991 1991-09-09    1998-03-30
993 1990-11-16    1998-04-27
994 1993-06-03    1993-06-13
997 1990-01-04    1991-10-03

[501 rows x 2 columns]

In [94]:
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head(4)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20

In [96]:
shipping["delivery_date"] - shipping["order_date"]

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
         ...
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [97]:
shipping["delivery time"] = shipping["delivery_date"] - shipping["order_date"]

In [98]:
shipping

    order_date delivery_date delivery time
ID
1   1998-05-24    1999-02-05      257 days
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
..         ...           ...           ...
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
994 1993-06-03    1993-06-13       10 days
997 1990-01-04    1991-10-03      637 days

[501 rows x 3 columns]

In [100]:
shipping["delivery_date"] + shipping["delivery time"]

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
         ...
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]

In [101]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
delivery time    timedelta64[ns]
dtype: object

In [102]:
shipping["delivery time"] > "365 days"

ID
1      False
2       True
4       True
5       True
7       True
       ...
990     True
991     True
993     True
994    False
997     True
Name: delivery time, Length: 501, dtype: bool

In [103]:
mask = shipping["delivery time"] > "365 days"
shipping[mask]

    order_date delivery_date delivery time
ID
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
9   1990-01-25    1994-10-02     1711 days
..         ...           ...           ...
986 1990-12-10    1992-12-16      737 days
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
997 1990-01-04    1991-10-03      637 days

[394 rows x 3 columns]

In [104]:
shipping["delivery time"].max()

Timedelta('3583 days 00:00:00')

In [105]:
shipping["delivery time"].min()

Timedelta('8 days 00:00:00')